<html ng-app="MyAPp">
    <meta charset="utf-8">
    <head>
        <title>Pruebas HackerRank</title>
        <script src="Scripts/jquery-1.12.0.js"></script>
        <script src="Scripts/angular.js"></script>
        <script src="Scripts/bootstrap.js"></script>
        <link rel="stylesheet" href="Scripts/bootstrap.css">
        <link rel="stylesheet" href="Scripts/bootstrap-theme.css">
        <link rel="stylesheet" href="Scripts/ngDialog.css">
        <link rel="stylesheet" href="Scripts/ngDialog-theme-plain.css">
    </head>
    <body ng-controller="ctrller">
        
        <select ng-model="selectDominios" ng-change="filtrarDominio()" ng-init="" >
            <option ng-value="nada"></option>
            <option ng-repeat="dom in dominios">{{dom.Nombre}}</option>
        </select>
        
        <select ng-model="selectSubDominios" ng-show="selectDominios.value != ''" ng-change="filtrarSubDominios()">
            <option ng-repeat="dom in subDominiosFiltrados">{{dom.Nombre}}</option>
            <!--<option ng-repeat="dom in dominios" >{{dom.Nombre}}</option> -->
        </select>

        <table id="tabla" class="table">
            <thead>
                <tr>
                    <td><strong>Título</strong></td>
                    <td><strong>Descripción</strong></td>
                    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ej in Ejercicios">
                    <td>{{ej.Nombre}}</td>
                    <td></td>
                    <td><button ng-click="ej.Funcion()" class="btn-primary">Ejecutar!</button></td>
                </tr>
            </tbody>
        </table>
        
        
        <script type="text/ng-template" id="dialogDesc">
			<div class="ngdialog-message">
				<h2>Native Angular.js solution</h2>
				<div>With ngDialog you don't need jQuery or Bootstrap to create dialogs for <code>ng-app:</code></div>
				<ul class="mt">
					<li>Use it in controllers, factories or directives</li>
					<li>Create your own directives</li>
					<li>Style all UI and templates</li>
					<li>Configure themes</li>
					<li>Add animations and effects</li>
				</ul>
				<div class="mt">Module is shipped with both <code>ngDialog</code> service and default directive.</div>
			</div>
		</script>
        
        <script src="Scripts/ngDialog.js"></script>
        <script src="Scripts/Controller.js"></script>
        <script src="Warmups/SimpleArraySum.js"></script>
        <script src="Warmups/AVeryBigSum.js"></script>
        <script src="Warmups/PlusMinus.js"></script>
        <script src="Warmups/DiagDifference.js"></script>
        <script src="Warmups/Staircase.js"></script>
       
    </body>
</html>